<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="bg-city">
    <section class="city">
        <div id="trashcans" class="city__trashcans">
            <img src="#" class="city__trashcans--img" alt="trashcan">
            <img src="#" class="city__trashcans--img" alt="trashcan">
            <img src="#" class="city__trashcans--img" alt="trashcan">
        </div>
        <div class="city__dialog-container" id="dialog-container">
            <div>
                <p class="city__dialog-container--game-start" id="start-game">START LEVEL</p>
            </div>
            <div>
                <p id="dialog-text"></p>
                <p class="city__dialog-container--dialog-next" id="dialog-next">NEXT</p>
                <img class="city__dialog-container--friend" src="friend.png" id="friend-image" alt="friend">
            </div>
            <div>
                <a id="endscreen" href="/end-game" class="city__dialog-container--game-next">END SCREEN</a>
            </div>
        </div>
    </section>
</body>
</html>

<script type="text/javascript" type="module">

    // Every id I need from this page in this script.
    const trashcans = document.getElementById("trashcans")
    const all_trashcans = document.getElementsByClassName("city__trashcans--img")
    const dialog_container = document.getElementById("dialog-container")
    const start_game = document.getElementById("start-game")
    const dialog_text = document.getElementById("dialog-text")
    const dialog_next = document.getElementById("dialog-next")
    const friend_image = document.getElementById("friend-image")
    const endscreen = document.getElementById("endscreen")

    // Game dialog sentences, dialog that is shown and witch centense it is on.
    const conversation = [
        {
            speaker: "Friend",
            message: "Hey <%= locals.username %>, we're done picking up all the plastic from the forest! The place looks so much better now!",
            show_image: true,
            audio: "dialog_levelTwo1.mp3",
        },
        {
            speaker: "<%= locals.username %>",
            message: "Yay! You did an amazing job! Now that the forest is clean, what should we do with all the plastic?",
            show_image: false,
            audio: false
        },
        {
            speaker: "Friend",
            message: "We should recycle it, right? I want to make sure we don't hurt the planet.",
            show_image: true,
            audio: "dialog_levelTwo2.mp3",
        },
        {
            speaker: "<%= locals.username %>",
            message: "Yes, exactly! Recycling is the best way to help the planet. We need to make sure we put the plastic in the right bins.",
            show_image: false,
            audio: false
        },
        {
            speaker: "Friend",
            message: "Okay, so we can sort the plastic into different piles, like bottles, bags, and cans.",
            show_image: true,
            audio: "dialog_levelTwo3.mp3",
        },
        {
            speaker: "<%= locals.username %>",
            message: "That's perfect! And remember to rinse the plastic if it has anything messy inside, like food or drink!",
            show_image: false,
            audio: false
        },
        {
            speaker: "Friend",
            message: "I'll make sure everything is clean and ready to be recycled. Then, we can take it to the recycling center!",
            show_image: true,
            audio: "dialog_levelTwo4.mp3",
        },
        {
            speaker: "<%= locals.username %>",
            message: "Great! By recycling, we're helping the Earth stay clean and happy. You're such a planet hero!",
            show_image: false,
            audio: false
        },
        {
            speaker: "Friend",
            message: "Thanks, <%= locals.username %>! I'm so glad we did this. The forest is happy again, and I'm happy too!",
            show_image: true,
            audio: "dialog_levelTwo5.mp3",
        },
        {
            speaker: "<%= locals.username %>",
            message: "You should be proud! You're making a real difference. Let's keep taking care of the Earth together!",
            show_image: false,
            audio: false
        },
    ];

    const audio = new Audio()
    let dialog_sentence = 0

    //Right trashcan
    let plastic_trashcan = Number

    start_game.onclick = () => {
        start_game.style.display = "none"
        dialog_show(conversation[dialog_sentence])
    }

    //Showes the played dialog.
    function dialog_show(dialog_array){
        let dialog_show = dialog_array["message"].split(" ")
        let dialog_word = 0
        friend_image.style.display = (dialog_array["show_image"]) ? 'block' : 'none'
        dialog_text.innerText = `${dialog_array["speaker"]}: `
        if(dialog_array["audio"]){
            audio.src = `/${dialog_array["audio"]}`
            audio.play();
        }
        const interval = setInterval(() => {
            if(dialog_show.length > dialog_word){
                dialog_text.innerText = `${dialog_text.innerText} ${dialog_show[dialog_word]}`
            }
            else{
                dialog_next.style.display = "block"
                clearInterval(interval)
            }
            dialog_word++
        }, 150)
    }

    //Randomize the placement of the trashcans.
    function randomize_trashcan_placement(){
            plastic_trashcan = Math.floor(Math.random() * all_trashcans.length)
            for(let i=0; i<all_trashcans.length; i++){
                all_trashcans[i].src = (plastic_trashcan === i) ? "/plastic-trashcan.png" : "/trashcan.png"
            }
    }

    //Onclick for the next dialog.
    dialog_next.onclick = () => {
        dialog_sentence += 1
        if(conversation.length !== dialog_sentence){
            dialog_next.style.display = "none"
            dialog_show(conversation[dialog_sentence])
        }
        else{
            dialog_sentence = 0
            dialog_container.style.display = "none"
            dialog_text.style.display = "none"
            dialog_next.style.display = "none"
            audio.src = "/background_city.mp3"
            audio.loop = true
            audio.play();
            randomize_trashcan_placement()
            trashcans.style.display = "flex"
        }
    }

    //Onclick on the trashcans.
    for(let i=0; i<all_trashcans.length; i++){
        all_trashcans[i].onclick = () => {
            if(i === plastic_trashcan){
                endscreen.style.display = "block"
                dialog_container.style.display = "block"
            }
        }
    }
</script>